<!--
<app-basic [appFirstDirective]="'Something'"></app-basic>
<app-basic [appFirstDirective]="'Another'"></app-basic>
<app-basic [appFirstDirective]="'Third'"></app-basic>
-->

<!--<button appOnline [appTrack]="'One button'">One</button>-->
<!--<button appOnline [appTrack]="'Two button'">Two</button>-->
<!--<button appOnline [appTrack]="'Three button'">Three</button>-->

<!--<app-basic></app-basic>-->

<!--<h1 *appThree="let message of messages">{{ message }}</h1>-->

<app-template-storage></app-template-storage>

<button *appSurround>One</button>
<button>Two</button>
<button>Three</button>
